*.onnx
*.pt
/.vs
/ImageProcessWorker/bin
/ImageProcessWorker/images
/ImageProcessWorker/models
/ImageProcessWorker/obj
/JobManagement.Sdk/obj
/Jobs.DataAccess/bin
/JobManagement.Sdk/bin
/Jobs.DataAccess/obj
.idea/